{% include 'header.html' %}
{% load static %}


    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor">
                    <!-- <div class="col-md-3">
                      
                    </div> -->
                    <center><h1 style="text-transform: uppercase;">{{course.coname}} INDEX</h1></center><br><hr style="border:2px solid black;"><br><br>
                    {% for i in index %}
                    <div style="margin-left: 140px; margin-bottom: 30px; float:left;">
                      <a href="{% url 'views' i.id %}">
                        <img src="{{i.course.copic.url}}" alt="" style="width: 150px; height: 100px; float:left; margin-right:10px;">
                        <h4 style="margin-top: 40px;">{{i.topic}}</h4>
                      </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

{% include 'footer.html' %}